*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
}

.slider-container{
    position: relative;
}

.slider img{
    height: 38vh;
    width: 58vw;
    bottom: 10px;
}

.img-info{
    position: absolute;
    bottom: 20px;
    right: 15px;
    text-align: end;
    color: white;
}

.thumbnail img{
    height: calc(38vh / 5);
    width: 140px;
    display: block;
}

.active{
    border: 1px solid red;
}